<% if user_signed_in? %>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
<h1>Events</h1>
<h2>Past events:</h2>
<ul>
  <% @events.past_events.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
    </li>
  <% end %>
</ul>

<h2>Future events:</h2>
<ul>
  <% @events.future_events.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
    </li> 
  <% end %>
</ul>
      
<a href="/events/new"> Create an event </a>